# Maven - Archivos temporales de compilación
target/

# NetBeans - Archivos específicos del IDE
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Sistema Operativo
.DS_Store
Thumbs.db

# Logs
*.log